/* src/Navbar.css */
.navbar {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTb8qGlscV4xRfSQq8LlLevgB9IuhSsXgaW5w&usqp=CAU'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: whitesmoke;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    flex: 1;
  }
  
  .nav-button {
    background-color: #61dafb;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .nav-button:hover {
    background-color: #4fa3d1;
  }
  